#window {
  font-size: 15px;
  font-family: "JetBrainsMono NF";
  /* background-color: rgba(45, 53, 59, 0.9); */
  background-color: rgba(31, 35, 53, 0.8);
  color: #ff0000;
  border-radius: 10px;
}

#input {
  margin: 8px;
  border-radius: 5px;
  border: none;
  background-color: #3d59a1;
  color: #c0caf5;
  font-weight: bold;
  box-shadow: none;
}

#outer-box {
  border: 3px solid #394b70;
  border-radius: 10px;
}

#entry {
  padding-left: 10px;
}

#entry:selected {
  border-radius: 5px;
  background: #7aa2f7;
  color: #2d353b;
  outline: none;
  margin: 0px 10px 0px 10px;
}

#text {
  font-weight: bold;
  padding: 0px 10px 0px 10px;
  color: #7aa2f7;
}

#text:selected {
  color: #292e42;
}
