#window {
  font-size: 15px;
  font-family: "JetBrainsMono NF";
  background-color: #152326;
}

#input {
  margin: 8px;
  border-radius: 5px;
  border: none;
  background-color: #203336;
  color: #dbd0c6;
  font-weight: bold;
  box-shadow: none;
}

#outer-box {
  border: 3px solid #96c2a1;
  border-radius: 0px;
}

#entry {
  padding-left: 10px;
}

#entry:selected {
  border-radius: 5px;
  background: #1d3034;
  color: #dbd0c6;
  outline: none;
  margin: 0px 10px 0px 10px;
}

#text {
  font-weight: bold;
  padding: 0px 10px 0px 10px;
  color: #568270;
}

#text:selected {
  color: #dbd0c6;
}
