@import "colors/colors-dark-warm.css";

* {
  font-family: "JetBrainsMono Nerd Font";
}

window#waybar {
  background-color: @bg;
  border: 3px solid @fg;
}

#workspaces {
  background-color: @bg;
  margin: 0 0 0 0;
  padding: 5px 0px 5px 10px;
  border-width: 3px 0 3px 0;
  border-style: solid;
  border-color: @fg;
  min-height: 0px;
}

#workspaces button {
  background-color: @fg;
  border: 2px solid @bg;
  margin: 6px 5px 6px 5px;
  padding: 4px 0;
  font-size: 0;
  min-height: 0px;
  min-width: 8px;
}

#workspaces button:hover {
  background: @green;
  border: 2px solid @green;
}

#workspaces button.empty {
  background-color: @green;
}

#workspaces button.active {
  background-color: @fg;
  border: 2px solid @fg;
}

#workspaces button.urgent {
  background-color: @red;
}

#battery,
#cpu,
#memory,
#disk,
#temperature,
#network,
#custom-volume,
#tray,
#scratchpad,
#window,
#clock {
  color: @aqua;
  border-top: 3px solid @fg;
  border-left: 3px solid @fg;
  border-bottom: 3px solid @fg;
  margin: 0;
  padding: 0px 8px;
  /* font-size: 15px; */
  /* font-weight: bold; */
}

#custom-date {
  color: @aqua;
  margin: 0;
  padding: 0px 8px;
  /* font-size: 15px; */
}

#custom-volume {
  color: @font;
  border-width: 3px 0 3px 0;
  border-style: solid;
  margin: 0 10px;
  padding: 1px 0 1px 0;
}

#custom-now-playing {
  color: @aqua;
  /* font-weight: bold; */
}

#network {
  color: @aqua;
  border-width: 3px 0 3px 0;
  border-style: solid;
  margin: 0 0px 0 8px;
  padding: 0 8px 0 4px;
  /* font-weight: bold; */
  /* font-size: 16px; */
}

#network.disconnected {
  color: @red;
}

#network:hover {
  color: @fg;
}

#battery {
  color: @aqua;
  border-width: 3px 0 3px 0;
  border-style: solid;
  margin: 0 0px 0 0px;
  padding: 0 8px 0 4px;
}

#battery.warning {
  color: @yellow;
}

#battery.critical {
  color: @red;
}

#backlight {
  color: @aqua;
  border-width: 3px 0 3px 0;
  border-style: solid;
  margin: 0 0px 0 0px;
  padding: 0 8px 0 4px;
}

#backlight:hover {
  color: @fg;
}

#tray {
  background-color: @bg;
  border-width: 3px 0 3px 0;
  border-style: solid;
  margin: 0 4px;
  padding: 0 15px 0 0;
}

#tray > .passive {
  -gtk-icon-effect: dim;
}

#tray > .needs-attention {
  -gtk-icon-effect: highlight;
  background-color: #eb4d4b;
}
